{% extends 'base.html.twig' %}
{% block title %}Modifier mon mot de passe - La Boutique Française
{% endblock %}
{% block content %}
	<h1>Modifier mon mot de passe
	</h1>
	<a href="{{path('account')}}">Retourner à mon compte</a>
	<hr>
	{% for type, messages in app.flashes(['success', 'warning'])%}
		{% for message in messages %}
			<div class="alert alert-{{type}}">{{ message }}</div>
		{% endfor %}
	{% endfor %}
	
	{{form(password)}}
		<hr>

	{% endblock %}
