.mb-3 {
    margin-right: 1rem;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}