*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-nav {
    display: flex;
    align-content: space-between;
}


.card {
    width: 12rem;
}
.img-content {
    width: 100%;
    height: 15rem;
    object-fit: contain;
    align-items: center;
}

.img-product{
    height: 12rem;
    object-fit: contain;
    padding: 1rem;

}

.center {
    display: flex;
    align-items: center;
    justify-items: center;
}

@media (max-width: 430px) {
    .card-deck {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .center {
        display: flex;
        justify-content: center;
    }
    .meilleurVente {
        text-align: center;
    }
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}

