<div class="row g-0">
	<div class="col-md-4">
		<a href="{{path('product', {'slug' : product.slug }) }} "><img src="/uploads/{{ product.illustration}}" alt="" class="img-fluid rounded-start"></a>
	</div>
	<div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title">{{product.name}}</h5>
		</div>
	</div>
</div>