<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Demande de {{ contact.fullName}} du site PhoneCall</h1>

    <p>Email : 
        {{contact.Email}}
    </p>
    <p>Sujet : 
        {{contact.subject}}
    </p>
    <p>Message : 
        <div class="">
            {{contact.message|raw}}

        </div>
    </p>
    
</body>
</html>